# Tidying Data in R

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.8
✔ tidyr   0.8.2     ✔ stringr 1.3.1
✔ readr   1.2.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## What is tidy data?

## Creating toy data

## Gather and spread

## Separate, extract and unite

## Join

## Tidying WHO TB data

In [62]:
head(who)

  country     iso2 iso3 year new_sp_m014 new_sp_m1524 new_sp_m2534 new_sp_m3544
1 Afghanistan AF   AFG  1980 NA          NA           NA           NA
2 Afghanistan AF   AFG  1981 NA          NA           NA           NA
3 Afghanistan AF   AFG  1982 NA          NA           NA           NA
4 Afghanistan AF   AFG  1983 NA          NA           NA           NA
5 Afghanistan AF   AFG  1984 NA          NA           NA           NA
6 Afghanistan AF   AFG  1985 NA          NA           NA           NA
  new_sp_m4554 new_sp_m5564 ⋯ newrel_m4554 newrel_m5564 newrel_m65 newrel_f014
1 NA           NA           ⋯ NA           NA           NA         NA
2 NA           NA           ⋯ NA           NA           NA         NA
3 NA           NA           ⋯ NA           NA           NA         NA
4 NA           NA           ⋯ NA           NA           NA         NA
5 NA           NA           ⋯ NA           NA           NA         NA
6 NA           NA           ⋯ NA           NA           NA         NA
  newrel_f1524 newrel_f2534 newrel_f3544 newrel_f4554 newrel_f5564 newrel_f65
1 NA           NA           NA           NA           NA           NA
2 NA           NA           NA           NA           NA           NA
3 NA           NA           NA           NA           NA           NA
4 NA           NA           NA           NA           NA           NA
5 NA           NA           NA           NA           NA           NA
6 NA           NA           NA           NA           NA           NA

In [64]:
who %>% gather(variable, value, -c(country, iso2, iso3, year)) -> who_1

In [65]:
who_1 %>% head

  country     iso2 iso3 year variable    value
1 Afghanistan AF   AFG  1980 new_sp_m014 NA
2 Afghanistan AF   AFG  1981 new_sp_m014 NA
3 Afghanistan AF   AFG  1982 new_sp_m014 NA
4 Afghanistan AF   AFG  1983 new_sp_m014 NA
5 Afghanistan AF   AFG  1984 new_sp_m014 NA
6 Afghanistan AF   AFG  1985 new_sp_m014 NA

In [81]:
who_1 %>% mutate(variable = str_replace(variable, 'newrel', 'new_rel')) -> who_2

In [82]:
who_2 %>% sample_n(5)

  country                          iso2 iso3 year variable      value
1 Qatar                            QA   QAT  2008 new_rel_m3544 NA
2 Gabon                            GA   GAB  1981 new_rel_f3544 NA
3 Montserrat                       MS   MSR  2008 new_sp_f3544  NA
4 Lao People's Democratic Republic LA   LAO  1988 new_ep_m1524  NA
5 Iceland                          IS   ISL  1982 new_ep_m65    NA

In [83]:
who_2 %>% separate(variable, sep = '_', into=c('type', 'response', 'sex_age')) -> who_3

In [84]:
who_3 %>% head

  country     iso2 iso3 year type response sex_age value
1 Afghanistan AF   AFG  1980 new  sp       m014    NA
2 Afghanistan AF   AFG  1981 new  sp       m014    NA
3 Afghanistan AF   AFG  1982 new  sp       m014    NA
4 Afghanistan AF   AFG  1983 new  sp       m014    NA
5 Afghanistan AF   AFG  1984 new  sp       m014    NA
6 Afghanistan AF   AFG  1985 new  sp       m014    NA

In [86]:
who_3 %>% extract(sex_age, "(^.)(.*)", into=c("sex", "age_group")) -> who_4

In [87]:
who_4 %>% head

  country     iso2 iso3 year type response sex age_group value
1 Afghanistan AF   AFG  1980 new  sp       m   014       NA
2 Afghanistan AF   AFG  1981 new  sp       m   014       NA
3 Afghanistan AF   AFG  1982 new  sp       m   014       NA
4 Afghanistan AF   AFG  1983 new  sp       m   014       NA
5 Afghanistan AF   AFG  1984 new  sp       m   014       NA
6 Afghanistan AF   AFG  1985 new  sp       m   014       NA

In [88]:
who_4 %>% drop_na(value) -> who_5

In [89]:
who_5 %>% head

  country     iso2 iso3 year type response sex age_group value
1 Afghanistan AF   AFG  1997 new  sp       m   014         0
2 Afghanistan AF   AFG  1998 new  sp       m   014        30
3 Afghanistan AF   AFG  1999 new  sp       m   014         8
4 Afghanistan AF   AFG  2000 new  sp       m   014        52
5 Afghanistan AF   AFG  2001 new  sp       m   014       129
6 Afghanistan AF   AFG  2002 new  sp       m   014        90

In [96]:
who_5 %>% mutate(value = as.numeric(value)) -> who_6

In [97]:
who_6 %>% head

  country     iso2 iso3 year type response sex age_group value
1 Afghanistan AF   AFG  1997 new  sp       m   014         0
2 Afghanistan AF   AFG  1998 new  sp       m   014        30
3 Afghanistan AF   AFG  1999 new  sp       m   014         8
4 Afghanistan AF   AFG  2000 new  sp       m   014        52
5 Afghanistan AF   AFG  2001 new  sp       m   014       129
6 Afghanistan AF   AFG  2002 new  sp       m   014        90

## Joining with population data