# Tidy Data

- Each column = one variable (convention is to have "fixed" columns first)
- Each row = one observation
- Each cell = one value

In [ ]:
library(tidyverse)

## Data set

In [ ]:
n <- 4
df <- data.frame(
    pid = c(1,3,4,5),
    desc = paste(sample(c('M', 'F'), n, replace=T),
                    '-', 
                    sample(10:70, n),
                    sep=''),
    visit1 = rpois(n, lambda = 20),
    visit2 = rpois(n, lambda=10)
)

In [ ]:
df[3,3] = NA

In [ ]:
df

## Gather

In [ ]:
df %>% 
gather(visit, measurement, -pid, -desc)

In [ ]:
df %>% 
gather(key=visit, value=measurement, visit1:visit2)

## Separate

In [ ]:
df %>% 
gather(key=visit, value=measurement, visit1:visit2) %>%
separate(desc, sep='-', into=c("sex", "age"))

## Clean-up and type coercion

In [ ]:
df %>% 
gather(key=visit, value=measurement, visit1:visit2) %>%
separate(desc, sep='-', into=c("sex", "age")) %>%
mutate(age=as.integer(age), 
       visit=str_remove(visit, "visit"),
       visit=as.integer(visit)) %>%
drop_na(measurement) -> df1

In [ ]:
df1

## Joins

In [ ]:
names <- data.frame(
    pid = 1:6,
    first = c( "bob", "dan","ann", "liz", "joe", "jen"),
    last = c("lim", "tan", "liu", "nguyn", "smith", "finkelstein")
)

In [ ]:
names

In [ ]:
inner_join(df, names, by = "pid")

In [ ]:
left_join(df, names, by = "pid")

In [ ]:
right_join(df, names, by = "pid")

In [ ]:
full_join(df, names, by = "pid")

## Exercise

**1**. Using the `who` data set, summarize the total count for each method of TB diagnosis across all years for which there is data for countries that begin wiht 'Z'.

In [ ]:
help(who)

In [ ]:
who %>% sample_n(5)

In [ ]:
colnames(who)

In [ ]:
who %>% 
select(-iso2, -iso3) %>%
gather(key=group, value=n, starts_with('new')) -> who1

In [ ]:
who1 %>% head

In [ ]:
who1 %>% 
mutate(group = str_replace(group, "newrel", "new_rel")) -> who2

In [ ]:
who2 %>% head

In [ ]:
who2 %>% 
separate(group, sep="_", into=c("type", "method", "age_group")) -> who3

In [ ]:
who3 %>% head

In [ ]:
who3 %>% 
drop_na(n) -> who4

In [ ]:
who4 %>% head

In [ ]:
who4 
%>% filter(str_detect(country, '^Z'))
%>% group_by(country, method)
%>% summarize(count=sum(n))